@import url(https://minidiscordthemes.github.io/Snippets/ChannelListWidth/main.css);
@import url(https://dablulite.github.io/css-snippets/BetterAuthApps/import.css);
@import url(https://dablulite.github.io/css-snippets/BetterTitlebar/import.css);
@import url(https://dablulite.github.io/css-snippets/CyanUI2-Ports/Bootup/import.css);
@import url(https://dablulite.github.io/css-snippets/PrettyFolderIcons/import.css);
@import url(https://aushevahmad.github.io/awesome-css/modules/custom-bar-prompt.css);
@import url(https://raw.githubusercontent.com/mwittrien/BetterDiscordAddons/master/Themes/EmojiReplace/EmojiReplace.theme.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/SettingsModal/SettingsModal.css);
@import url(https://raw.githubusercontent.com/orblazer/discord-nordic/master/nordic.vencord.css);
@import url(https://raw.githubusercontent.com/maenDisease/BetterDiscordStuff/main/Themes/Float/zFloat.theme.css);
@import url(https://minidiscordthemes.github.io/Snippets/ForumImprovements/main.css);
@import url(https://minidiscordthemes.github.io/MinimalAddonCards/MinimalAddonCards.theme.css);
@import url(https://aushevahmad.github.io/awesome-css/modules/bartender.css);
@import url(https://github.com/rinyafii/theme-stuff/raw/main/discord/snippets/search-icon-until-focus.css);
@import url(https://aushevahmad.github.io/awesome-css/modules/adblock.css);

:root {
  --image-link: url("https://cdn.discordapp.com/emojis/1026533070955872337.webp?size=96&quality=lossless");
  --bartender-width: 4ch;
  --prompt-text: "Don't be stupid :3";
  --user-status-online: #a3be8c;
  --user-status-idle: #ebcb8b;
  --user-status-dnd: #bf616a;
  --user-status-invisible: #7a859d;
  --font-primary: "Mona Sans";
  --font-display: "Bricolage Grotesque";
  --font-headline: "Bricolage Grotesque";
  --font-code: "JetBrains Mono";
  --channellist-width: 280px;
  --channellist-header-height: 48px;
  --serverlist-width: 72px;
  --channels-filter: blur(0) brightness(100%);
  --header-opacity: 1;
  --settingswidth: 1100;
  --settingsheight: 80;
  --settingsbackground: transparent;
}

[aria-label="Select emoji"]::before {
  content: "";
  background-image: var(--image-link);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0;
  position: absolute;
  width: 24px;
  height: 24px;
  display: block;
  visibility: visible;
  filter: grayscale(100%);
}

[aria-label="Select emoji"]:hover::before {
  filter: grayscale(0);
}

[aria-label="Select emoji"] {
  visibility: hidden;
}

[class*="iconGroup"]:has(
    [class*="hangStatusIcon"],
    [d*="M13 3a1"],
    [class*="gameIcon"]
  ) {
  display: flex;
  position: absolute;
  right: 101%;
}

[class="toolbar_e44302"]::before {
  font-family: "gg sans";
}

::selection {
  background-color: var(--nord-cyan) !important;
  color: var(--text-normal) !important;
}

.vc-platform-indicator svg {
  fill: #8fbcbb !important;
}

@keyframes warningVisibility {
  to {
    visibility: hidden !important;
  }
}

.search_ac353c:not(.open_d3ab4e) > .searchBar__5a20a {
  width: 22px;
  background: 0 0;
}

.searchBarComponent__8f95f {
  background: 0 0;
}

.search_ac353c:not(.open_d3ab4e) .iconLayout__9d9a4 {
  cursor: pointer;
}

.search_ac353c:not(.open_d3ab4e) .iconContainer__9f124 {
  transform: scale(1.4);
}

.search_ac353c:not(.open_d3ab4e) .icon__5c8c7,
.vc-spotify-album,
.vc-spotify-artist {
  color: var(--interactive-normal);
}

#vc-spotify-player .colorStandard__3d599,
.search_ac353c:not(.open_d3ab4e):hover .icon__5c8c7,
.vc-spotify-button {
  color: var(--interactive-active);
}

img[role="presentation"] {
  content: url("https://cdn.discordapp.com/emojis/1161713157794963536.webp?size=128&quality=lossless") !important;
  transform: rotate(0) !important;
}

[class^="clickableSticker_"]
  [class^="assetWrapper_"]:has([class^="lottieCanvas_"]) {
  width: 48px !important;
  height: 48px !important;
}

.platform-win .sidebar_e031be {
  border-radius: 0;
}

#vc-spotify-player {
  height: 50px;
  background: 0 0 !important;
  position: relative;
  transition: height 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  padding: 7px !important;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.panels__58331 {
  display: flex;
  flex-direction: column !important;
  align-items: stretch;
  justify-content: flex-end;
}

#vc-spotify-player:has(#vc-spotify-album-expanded-wrapper) {
  height: 310px;
}

#vc-spotify-info-wrapper {
  width: 100%;
}

#vc-spotify-player:hover {
  height: calc(100vh);
  padding: 16px !important;
}

.sidebar_e031be {
  transition: width 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

:root:has(#vc-spotify-player:hover) {
  --channellist-width: 352px !important;
  --channels-filter: blur(2px) brightness(80%);
}

.scroller__1f498 {
  transition: filter 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  filter: var(--channels-filter);
}

.header__77c95 {
  opacity: var(--header-opacity);
}

.wrapper__216eb {
  transition: width 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: var(--serverlist-width);
}

#vc-spotify-progress-bar,
.vc-spotify-button-row {
  opacity: 0;
  scale: 0;
  display: none !important;
  height: 0;
  margin: 0;
  padding: 0;
  transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#vc-spotify-player:hover #vc-spotify-progress-bar,
#vc-spotify-player:hover .vc-spotify-button-row {
  scale: 1;
  opacity: 1;
  display: flex !important;
  margin: 16px 4px;
  width: 100%;
  height: auto;
}

#vc-spotify-player:has(#vc-spotify-album-expanded-wrapper)
  #vc-spotify-progress-bar,
#vc-spotify-player:has(#vc-spotify-album-expanded-wrapper)
  .vc-spotify-button-row {
  scale: 1;
  opacity: 1;
}

#vc-spotify-player::before {
  z-index: -1;
  content: "";
  position: absolute;
  height: 0;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  background: var(--vc-spotify-track-image);
  background-size: cover;
  background-position: center;
  opacity: 0;
  scale: 1;
  filter: brightness(30%) blur(25px);
}

#vc-spotify-player:has(#vc-spotify-album-expanded-wrapper)::before,
#vc-spotify-player:hover::before {
  opacity: 1;
  scale: 1.1;
  height: 100%;
  filter: brightness(40%) blur(16px);
}

#vc-spotify-progress-bar {
  margin: 16px 0 0 !important;
}

#vc-spotify-info-wrapper > img {
  height: 100%;
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#vc-spotify-player:hover #vc-spotify-album-image {
  opacity: 1;
  scale: 1.5;
  transform: translateX(7px) translateY(calc(-100% - 8px));
  animation: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) blurfade;
}

#vc-spotify-player #vc-spotify-album-image {
  animation: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) blurfade-r;
  opacity: 1;
  filter: blur(0);
  transform: none;
  scale: 1;
}

@keyframes blurfade {
  0% {
    opacity: 1;
    filter: blur(0);
    transform: none;
    scale: 1;
  }

  20% {
    opacity: 0;
    filter: blur(20px);
    transform: none;
    scale: 0;
  }

  20.00001% {
    opacity: 0;
    filter: blur(20px);
    transform: translateX(7px) translateY(calc(-100% - 8px));
    scale: 0;
  }
}

@keyframes blurfade-r {
  0% {
    opacity: 1;
    scale: 1.5;
    filter: blur(0);
    transform: translateX(7px) translateY(calc(-100% - 8px));
  }

  20% {
    opacity: 0;
    filter: blur(20px);
    transform: translateX(7px) translateY(calc(-100% - 8px));
    scale: 1;
  }

  20.00001% {
    opacity: 1;
    filter: blur(20px);
    transform: none;
    scale: 0;
  }
}

#vc-spotify-album-image:hover {
  filter: none;
}

#vc-spotify-info-wrapper #vc-spotify-titles {
  margin-left: 0;
  transition: margin-left 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#vc-spotify-player:hover #vc-spotify-titles {
  margin-left: -57px;
  padding: 0;
}

#vc-spotify-player:hover #vc-spotify-song-title {
  font-size: 22px !important;
  padding: 4px 0;
}

#vc-spotify-player:hover #vc-spotify-titles .size14_b2af01 {
  font-size: 15px;
}

#vc-spotify-player #vc-spotify-titles .size14_b2af01 {
  font-size: 13px;
  transition: font-size 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#vc-spotify-player .barFill__1f56b,
#vc-spotify-song-title + div + div::before,
#vc-spotify-song-title + div::before,
#vc-spotify-song-title::before {
  background-color: var(--interactive-active);
}

#vc-spotify-player .bar_e58961 {
  background-color: color-mix(in srgb, var(--white-500), transparent 75%);
}

#vc-spotify-progress-bar > [class^="slider"] [class^="grabber"] {
  background-color: var(--interactive-active);
  border-color: var(--interactive-active);
  width: 12px !important;
  height: 12px !important;
  margin-top: 3px;
  opacity: 1 !important;
}

.vc-spotify-progress-time {
  top: 12px;
}

.vc-spotify-button:hover {
  background-color: color-mix(
    in srgb,
    var(--interactive-active),
    transparent 75%
  );
}

.vc-spotify-button.vc-spotify-shuffle-on {
  color: var(--green-360);
}

.vc-spotify-button.vc-spotify-shuffle-on:hover {
  background-color: color-mix(in srgb, var(--green-360), transparent 75%);
}

.container_debb33 {
  background-color: #0000 !important;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  height: 65px;
  padding: 12px 8px !important;
}

#vc-spotify-player:hover + .container_debb33 {
  scale: 0;
  opacity: 0;
  height: 0;
  min-height: 0;
  padding: 0 !important;
  margin: 0;
}

.panels__58331 {
  height: 65px;
  transition: height 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.panels__58331:has(#vc-spotify-player) {
  height: 130px;
  transition: height 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.panels__58331:has(#vc-spotify-player:hover) {
  transition: height 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  height: 50%;
}

em .emoji {
  transform: skew(-14deg);
}

[aria-label="Deafen"] [aria-hidden="true"],
[aria-label="Mute"] [aria-hidden="true"] {
  opacity: 0.4;
}

[class^="positionContainer_"] {
  height: calc(100vh - 180px);
}

[data-list-id="guildsnav"] > [class^="scroller_"] > [aria-label],
[id^="folder-items-"] {
  display: flex;
  flex-direction: column;
}

[data-list-id="guildsnav"]
  > [class^="scroller_"]
  > [aria-label]
  :is([class^="listItem_"], [class^="wrapper_"]):has([class^="numberBadge_"]) {
  order: -1;
}

[class*="userProfileModalInner_"]:before,
[class*="userProfileOuterThemed_"] [class*="userPopoutInner_"]:before,
[class^="botTagCompact_"],
[class^="container_"]::after,
[class^="guildSeparator_"],
[class^="sectionDivider_"],
[class^="titleWrapper_"] + [class^="divider_"] {
  display: none;
}

[class^="itemCard_"],
[class^="nowPlayingColumn_"] [class^="scroller_"],
[class^="peopleListItem_"] {
  border: none;
}

[class^="emptyChannelIcon_"] ~ [class*="description_"] > * {
  font-family: var(--font-primary);
}

#app-mount .layer_f7d46a ~ .layer_f7d46a {
  border-radius: var(--radius-md) !important;
  box-shadow: var(--shadow-high) !important;
}

.vc-platform-indicator,
[class^="nitroBadgeSvg_"] {
  height: 1rem;
}

[class^="roleIcon_"] {
  margin-left: 1ch;
}

[class*="userProfileOuterThemed_"]
  [class*="clickable_"]
  svg
  > :not([fill*="#"]):not(foreignObject),
[class^="avatar_"]:hover [class^="avatarDecoration_"],
[class^="avatar_"]:hover + [class^="avatarDecoration_"] {
  opacity: 0 !important;
}

[class^="avatarDecoration_"] {
  transition: opacity 0.3s;
}

[class*="lineClamp2Plus_"] {
  overflow-y: auto !important;
}

[class^="overlayAvatar_"] {
  --xhairwidth: 2px;
  box-shadow: none;
  border-width: 2px;
}

div[class^="topicsScroller_"] {
  max-height: calc(100vh - 2.5in);
}

:has(> div[class^="topicsScroller_"]) {
  width: calc(100% - 8Q);
}

[class*="channelTextAreaDisabled"] {
  display: none !important;
  opacity: 0 !important;
  position: absolute !important;
  height: 0 !important;
  width: 0 !important;
  z-index: 0 !important;
}

[class*="botText"] {
  font-weight: 500;
}

[class*="userPanelInner"] [class*="nickname"] {
  font-family: var(--font-display);
}

:root:has(
    #thread-context,
    #channel-context,
    #guild-context,
    #guild-browse-channels-context-menu,
    #audio-device-context,
    #user-settings-cog,
    #account
  ),
:root:has(
    :is([class^="sidebar_"], [class*="guilds_"]):is(:hover, :focus-within)
  ),
:root:has([class^="privateChannels_"]):has(#user-context) {
  --visiblechannellist-width: 280px;
}

.sidebar_a4d4d9 {
  width: var(--visiblechannellist-width, 0);
  transition: width 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.sidebar_a4d4d9 .container_ee69e0 {
  width: 280px;
}

[class*="accountProfilePopoutWrapper"]
  [class*="biteSizeInner"]
  > [clas*="wrapper"]
  > div,
[class*="accountProfilePopoutWrapper"]
  [class*="biteSizeInner"]
  > [class*="body"]
  > div:not([class*="menus"]),
[class*="accountProfilePopoutWrapper"]
  [class*="biteSizeInner"]
  > [class*="header"],
[class*="accountProfilePopoutWrapper"]
  [class*="biteSizeInner"]
  > [class*="wrapper"] {
  display: none !important;
}

[class*="accountProfilePopoutWrapper"] [class*="biteSizeInner"],
[class*="accountProfilePopoutWrapper"]
  [class*="biteSizeInner"]
  > [class*="body"]
  > [class*="menus"] {
  padding: 0 !important;
  border: 0 !important;
}

[class*="accountProfilePopoutWrapper"]
  [class*="biteSizeInner"]
  > [class*="body"] {
  padding: 16px !important;
}

[class*="fullSizeOverlayBackground_"] {
  background: rgb(var(--bg-overlay-color) / 0.6) !important;
}

[class*="userProfileOuterThemed_"] {
  padding: 0 !important;
}

[class*="userProfileOuterThemed_"]
  [class*="body_"]:not([class*="bodyNormal"])
  > [class*="container_"] {
  margin-bottom: 8px;
}

[class*="userProfileOuterThemed_"]
  [class*="body_"]:not([class*="bodyNormal"])
  > [class*="container_"]:after {
  content: "";
  position: fixed;
  left: 0.5rem;
  width: calc(100% - 1rem);
  height: -webkit-fill-available;
  z-index: -1;
  margin-top: 8px;
  margin-bottom: 0.5rem;
  border-radius: var(--radius-sm) var(--radius-sm) calc(var(--radius-sm) / 2)
    calc(var(--radius-sm) / 2);
  background: rgb(var(--bg-overlay-color) / 0.6);
  border: var(--profile-body-border-color) 0.8px solid;
}

[class*="userProfileOuterThemed_"]
  [class*="footer_"]
  [class*="themedBackground_"],
[class*="userProfileOuterThemed_"] [class*="pill__"] {
  background: rgb(var(--bg-overlay-color) / 0.4) !important;
}

[class*="userProfileOuter"] .button__6d63b {
  background: rgb(var(--bg-overlay-color) / 0.2);
  border-radius: 50%;
  aspect-ratio: 1;
}

[class*="userProfileOuterUnthemed_"] .button__6d63b {
  background: var(--primary-760);
}

[class*="userProfileOuter"] div[class*="pronouns_"],
[class*="userProfileOuter"] h1,
[class*="userProfileOuter"] span[class*="userTagUsername_"] {
  text-shadow: rgb(var(--bg-overlay-color) / 0.3) 1px 0 px;
}

[class*="userPopoutInner_"][class*="biteSizeInnerThemed_"]
  > [class*="body_"]
  > div:not([class*="container_"]):not([class*="container_"] + div) {
  background: 0 0 !important;
  padding: 0.75rem 0 0;
  border-top: rgb(var(--bg-overlay-color-inverse) / 0.1) 1px solid;
  border-radius: 0;
}

[class*="userProfileOuterUnthemed_"]
  [class*="userPopoutInner_"][class*="biteSizeInnerThemed_"]
  > [class*="body_"]
  > div:not([class*="container_"]):not(
    [class*="container_"] + div[class*="mutual"]
  ) {
  border-top: var(--bg-mod-faint) 1px solid;
}

[class*="userProfileOuterThemed_"]
  [class*="userPopoutInner_"]
  [class*="container__"] {
  background: rgb(var(--bg-overlay-color) / 0.6) !important;
  border-radius: var(--radius-sm);
}

[class*="descriptionClamp_"] {
  -webkit-line-clamp: 10;
}

[class*="statusBubbleWithTextPadding_"] {
  padding: 5px 10px;
}

[class*="accountProfilePopoutWrapper"] [class*="biteSizeOuter"] {
  background-image: none;
  background-color: var(--background-secondary-alt) !important;
}

[class*="userPopoutInner"],
[class*="userPopoutOuter"] {
  border-radius: var(--radius-lg);
}

[class*="biteSizeInnerThemed_"] {
  padding-bottom: 0;
}

.divider_d2b491.divider_ae36e5,
.newMemberBadge_ed263a,
.nowPlayingColumn_c2739c,
.panelSubtextContainer_b2ca13,
.text_e40c16,
.threadSuggestionBar_b11c5e,
[aria-label="Add Friends to DM"],
[aria-label="Notification Settings"],
[aria-label="Show User Profile"],
[aria-label="Start Video Call"],
[aria-label="Help"],
[aria-label="Threads"],
[class^="bar__"]:has([class^="voiceChannelsIcon__"]),
[class^="iconGroup"]:has([class^="hangStatusIcon"]),
button[aria-label="Open GIF picker"],
button[aria-label="Open sticker picker"],
div.themed_a0.item_a0.item_c2739c:nth-of-type(6),
div[class*="listItem"]:has(div[aria-label="Explore Discoverable Servers"]) {
  display: none !important;
}
